//- extends layout

//- block content
//-     h1 Here's people:
//-     each person in people
//-         p #{person}


extends layout

block content
    h1 Hello!
    if people.length
        p Here are the people:
        table
            thead
                td ID
                td Name
                td Email
            each person in people
                tr
                    td #{person.id}
                    td #{person.name}
                    td #{person.email}

        pre= JSON.stringify(people, null, 2)
    else
        p There's no one yet :(
    script.
        console.log(!{JSON.stringify(people)})



